<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  {% include header.html %}

  <!-- Main jumbotron for a primary marketing message or call to action -->

<!-- slideshow effect from https://themarklee.com/2013/10/16/simple-crossfading-slideshow-css/ -->
<style type="text/css">
  .css-slideshow{
  position: relative;
  max-width: 250px;
  height: 200px;
  margin: .5em auto .5em auto;
}
  .css-slideshow figure{
  margin: 0;
  max-width: 250px;
  height: 200px;
  background: #fff;
  position: absolute;
}
  .css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
  .css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
  .css-slideshow-attr{
  max-width: 250px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 20s 10s infinite;
}
figure:nth-child(2) {
  animation: xfade 20s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

     
    </style>



  <div class="container fifty" style="max-width: 950px">
<!--    <div class="fixOverlayDiv"> -->
    <h2 align = "center"><img src="images/globe_tissue_colors.png" style="width:75px;margin-right:15px"/>Seattle Organismal Molecular Atlases (SOMA)</h2><br>
    <br>
    
    <div class="row">
    <div class="col-md-4">
      <div class="card h-100 text-center">
        <div style="border:1px; border-style:solid; border-color:#B3B9BF; padding: 5px;"> 
           <div align="center">
             <h4><b>Chromatin accessibility in the adult mouse</b></h4>
             <h6><a href="">Cusanovich, Hill et al. Cell (2018)</a></h6>
<a href="http://atlas.gs.washington.edu/fly-atac/"><img src="images/MouseButton.png" style="width:100px"></a>
             <br>
             <br>
<p>Species: Mus musculus</p>
             <p>Samples: 13 tissues from 8 wk male mice</p>
             <p>Method: sci-ATAC-seq</p>
             <p>Cell count: ~100,000</p>
            
<div class='wrapper text-center'><a class="btn btn-default" href="http://atlas.gs.washington.edu/mouse-atac/" role="button" style="background-color: #2C3E50; color: white">Go to mouse &raquo;</a></div>
</div>
     </div>
    </div>
    </div>
    
    <div class="container">
    <div class="col-md-4">
      <div class="card h-100 text-center">
        <div style="border:1px; border-style:solid; border-color:#B3B9BF; padding: 5px;"> 
           <div align="center">
             <h4><b>Chromatin accessibility in the fly embryo</b></h4>
             <h6><a href="https://www.nature.com/articles/nature25981">Cusanovich, Reddington, Garfield et al. Nature (2018)</a></h6>
<a href="http://atlas.gs.washington.edu/fly-atac/"><img src="images/DrosophilaTimePointsButton.png" style="width:100px"></a>
             <br>
             <br>
<p>Species: Drosophila melanogaster</p>
             <p>Samples: Whole embryos 2-4 h, 6-8 h, and 10-12 h after egg laying</p>
             <p>Method: sci-ATAC-seq</p>
             <p>Cell count: ~23,000</p>
            
<div class='wrapper text-center'><a class="btn btn-default" href="http://atlas.gs.washington.edu/fly-atac/" role="button" style="background-color: #2C3E50; color: white">Go to fly &raquo;</a></div>
</div>
     </div>
    </div>
    </div>
     
    <div class="container">
    <div class="col-md-4">
     <div class="card h-100 text-center">
        <div style="border:1px; border-style:solid; border-color:#B3B9BF; padding: 5px;">
    <div align="center">
      <h4><b>Gene expression in the worm at the second larval stage</b></h4>
      <h6><a href="http://science.sciencemag.org/content/357/6352/661">Cao, Packer et al. Science (2017)</a></h6>
<a href="http://atlas.gs.washington.edu/worm-rna/"><img src="images/worm-drawing-3-button.png" style="width:100px"></a>
      <br>
      <br>
      <p>Species: Caenorhabditis elegans</p>
             <p>Samples: Whole L2 stage worms</p>
             <p>Method: sci-RNA-seq</p>
             <p>Cell count: ~49,000</p>
<div class='wrapper text-center'><a class="btn btn-default" href="http://atlas.gs.washington.edu/worm-rna/" role="button" style="background-color: #2C3E50; color: white">Go to worm &raquo;</a></div></div>
    </div>
  </div>
    </div>
      </div>
    
    

    </div>
  </div>
  </div>
                   

  <!-- <div class="col-md-6">
        <div style="border:1px; border-style:solid; border-color:#B3B9BF; padding: 5px;"> 
           <div align="center">
      <h3>sci-ATAC-seq of the fly</h3>
<a href="http://atlas.gs.washington.edu/fly-atac/"><img src="images/DrosophilaTimePointsButton.png" style="width:100px"></a>
<p>23,085 embryonic fly cells (ATAC)</p>
<div class='wrapper text-center'><a class="btn btn-default" href="http://atlas.gs.washington.edu/fly-atac/" role="button" style="background-color: #2C3E50; color: white">Go to fly &raquo;</a></div>
</div>
     </div>
    </div>
     
    <div class="col-md-6">
        <div style="border:1px; border-style:solid; border-color:#B3B9BF; padding: 5px;">
    <div align="center">
<h3>sci-RNA-seq of the worm</h3>
<a href="http://atlas.gs.washington.edu/worm-rna/"><img src="images/worm-drawing-3-button.png" style="width:100px"></a>
      <p>42,035 L2 stage cells (RNA)</p>
<div class='wrapper text-center'><a class="btn btn-default" href="http://atlas.gs.washington.edu/worm-rna/" role="button" style="background-color: #2C3E50; color: white">Go to worm &raquo;</a></div></div>
    </div>
  </div>

    </div>
  </div>
  </div>
-->






      
     <!--  <div class="css-slideshow" float:left> 
        <figure>
          <center><img src="images/tsne-1.png" style="width:250px"></center>
        </figure> 
        <figure>
          <center><img src="images/fly_tsne_adjusted.png" style="width:250px"></center>
        </figure>
      </div> -->
      <br>
      <br>
  <div class="container">
        <h4 align = "center">Single cell genomics can in principle reveal the molecular definition of every cell type in an entire animal. The Shendure, Trapnell and collaborating labs have begun generating "whole organism" single cell datasets for mouse, worm, fly and other animals, including of gene expression (sci-RNA-seq) and chromatin accessibility (sci-ATAC-seq) datasets. This website serves as a data portal as well as a repository for our analysis code and protocols. We also provide tutorials to assist you in downloading, analyzing and exploring these datasets.</h4></div>

    <!-- </div> -->


    
    
      <div class="hugespacer"></div>

       <center><a href="https://brotmanbatyinstitute.org"> <img src="images/bbi-logo-horizontal.png" id="BBI" height="125" /></a>
      &nbsp;   
         <a href="http://allen-lineage.org/"> <img src="images/allen-logo.png" id="Allen" height="75" /></a></div>
    <br>
    <div align="center"><a href="http://www.hhmi.org/"> <img src="images/hhmi-logo.png" id="HHMI" height="75" /></a>
       <a href="http://www.gs.washington.edu/"> <img src="images/GS-Logo.png" id="Genome Sciences" height="75" /></a></center>
        
      
      <footer>
      <br>
      <center><small>Shendure, Trapnell, Waterston, and Furlong labs &copy; 2018.</small></center>
      <center><small>Worm image derived from original &copy; 2017 Mark Leaver. Used with permission.</small></center>
    </footer>
  </div>




</div> <!-- /container -->


</body>

</html>
